.font-xxs-bold {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
}

.font-xxs-medium {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}

.font-xxs-regular {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

.font-xxs-light {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}

.font-xs-bold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.font-xs-medium {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.font-xs-regular {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.font-xs-light {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}

.font-sm-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.font-sm-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.font-sm-regular {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.font-sm-light {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.font-md-bold {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.font-md-medium {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.font-md-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.font-md-light {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.font-md-legacy-bold {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.font-md-legacy-medium {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

.font-md-legacy-regular {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}

.font-md-legacy-light {
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
}

.font-lg-bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.font-lg-medium {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.font-lg-regular {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.font-lg-light {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
