@import "../../scss/variabels";

.text-natural-50 {
  color: $natural-50;
}

.background-natural-50 {
  background-color: $natural-50;
}

.text-natural-100 {
  color: $natural-100;
}

.background-natural-100 {
  background-color: $natural-100;
}

.text-natural-200 {
  color: $natural-200;
}

.background-natural-200 {
  background-color: $natural-200;
}

.text-natural-300 {
  color: $natural-300;
}

.background-natural-300 {
  background-color: $natural-300;
}

.text-natural-400 {
  color: $natural-400;
}

.background-natural-400 {
  background-color: $natural-400;
}

.text-natural-500 {
  color: $natural-500;
}

.background-natural-500 {
  background-color: $natural-500;
}

.text-natural-600 {
  color: $natural-600;
}

.background-natural-600 {
  background-color: $natural-600;
}

.text-natural-700 {
  color: $natural-700;
}

.background-natural-700 {
  background-color: $natural-700;
}

.text-natural-800 {
  color: $natural-800;
}

.background-natural-800 {
  background-color: $natural-800;
}

.text-white {
  color: white;
}

.background-white {
  background-color: white;
}

.text-primary {
  color: $primary !important;
}

.background-primary {
  background-color: $primary;
}

.text-success-lira {
  color: $success;
}

.background-success {
  background-color: rgba(10, 129, 127, 0.2);
}

.text-error {
  color: $error;
}

.background-error {
  background-color: #f3c3c3;
}
