<div class="row-container vh-100">

  <div class="d-flex justify-content-end">
    <app-support></app-support>
  </div>

  <!--PRE_REGISTER-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.PRE_REGISTER">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="1" class="mb-3"></app-register-stepper>

    <div class="d-flex align-items-start mb-4">
      <app-svg-icon svg="info" width="16" height="16" class="ms-2"></app-svg-icon>
      <span class="text-natural-800 font-sm-regular"
            [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_1'|translate"></span>
    </div>
    <span class="p-3 font-sm-regular text-natural-800 background-natural-100 br-8"
          [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_2'|translate"></span>
  </div>

  <!--OPR_REJECTED-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.OPR_REJECTED">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="1" class="mb-3"></app-register-stepper>

    <app-action-bar
      [confirmLabel]="'REGISTER.ACTION_LABEL'|translate"
      routerLink="/register/personal-info"
    ></app-action-bar>

  </div>

  <!--OPR_ACCEPTED-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.OPR_ACCEPTED">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="1" class="mb-3"></app-register-stepper>

    <app-action-bar
      [confirmLabel]="'REGISTER.ACTION_LABEL'|translate"
      routerLink="/register/address"
    ></app-action-bar>

  </div>

  <!--PAYMENT_DONE-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.PAYMENT_DONE">
    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PAYMENT_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="3" class="mb-3"></app-register-stepper>

    <!--    اگز قرار شد صفحه جپیات تراکنش داشته باشیم حتما در دستروی این صفحهسشن استوریج رو خالی کن -->

    <div class="px-5 mt-2" *ngIf="transactionDetails">
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="text-natural-800 font-sm-regular">شماره موبایل : </span>
        <span class="text-natural-800 font-sm-bold">{{transactionDetails.mobileNumber}}</span>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="text-natural-800 font-sm-regular">شماره پیگیری : </span>
        <span class="text-natural-800 font-sm-bold">{{transactionDetails.referenceNumber}}</span>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="text-natural-800 font-sm-regular">شماره کارت : </span>
        <span class="text-natural-800 font-sm-bold">{{transactionDetails.maskedCardNumber}}</span>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="text-natural-800 font-sm-regular">مبلغ : </span>
        <span class="text-natural-800 font-sm-bold" currency currencyColor="text-natural-800"
              currencyFont="font-sm-bold">{{transactionDetails.amount| number}}</span>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="text-natural-800 font-sm-regular">تاریخ تراکنش : </span>
        <span class="text-natural-800 font-sm-bold">
          {{transactionDetails.transactionDate.split('T')[0]|jalaliDate:'YYYY-MM-DD':'iso'}}
        </span>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="text-natural-800 font-sm-regular">ساعت تراکنش : </span>
        <span class="text-natural-800 font-sm-bold">
          {{transactionDetails.transactionDate.split('T')[1]}}
        </span>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="text-natural-800 font-sm-regular">وضعیت پرداخت : </span>
        <span
          [class.text-success-lira]="transactionDetails.paymentStatus === PaymentStatus.DONE"
          [class.text-error]="transactionDetails.paymentStatus === PaymentStatus.FAILED"
          [class.text-primary]="transactionDetails.paymentStatus === PaymentStatus.IN_PROGRESS"
          class="text-natural-800 font-sm-bold">{{transactionDetails.paymentStatus|paymentStatus}}</span>
      </div>
    </div>

    <app-action-bar
      *ngIf="transactionDetails;else elseBack"
      confirmLabel="برو به اپ"
      routerLink="/register/hotel-address"
    ></app-action-bar>

    <ng-template #elseBack>
      <app-action-bar
        [confirmLabel]="'REGISTER.ACTION_LABEL'|translate"
        routerLink="/register/hotel-address"
      ></app-action-bar>
    </ng-template>

  </div>

  <!--HOTEL_ADDRESS_CONFIRMED-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.HOTEL_ADDRESS_CONFIRMED">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="4" class="mb-3"></app-register-stepper>

    <div class="d-flex align-items-start mb-4">
      <app-svg-icon svg="info" width="16" height="16" class="ms-2"></app-svg-icon>
      <span class="text-natural-800 font-sm-regular"
            [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_1'|translate"></span>
    </div>
    <span class="p-3 font-sm-regular text-natural-800 background-natural-100 br-8"
          [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_2'|translate"></span>
  </div>

</div>


