<div class="row-container vh-100">

  <div class="d-flex justify-content-end">
    <app-support></app-support>
  </div>

  <!--PRE_REGISTER-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.PRE_REGISTER">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="1" class="mb-3"></app-register-stepper>

    <div class="d-flex align-items-start mb-4">
      <app-svg-icon svg="info" width="16" height="16" class="ms-2"></app-svg-icon>
      <span class="text-natural-800 font-sm-regular"
            [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_1'|translate"></span>
    </div>
    <span class="p-3 font-sm-regular text-natural-800 background-natural-100 br-8"
          [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_2'|translate"></span>
  </div>

  <!--OPR_REJECTED-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.OPR_REJECTED">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="1" class="mb-3"></app-register-stepper>

    <app-action-bar
      [confirmLabel]="'REGISTER.ACTION_LABEL'|translate"
      routerLink="/register/personal-info"
    ></app-action-bar>

  </div>

  <!--OPR_ACCEPTED-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.OPR_ACCEPTED">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="1" class="mb-3"></app-register-stepper>

    <app-action-bar
      [confirmLabel]="'REGISTER.ACTION_LABEL'|translate"
      routerLink="/register/address"
    ></app-action-bar>

  </div>

  <!--HOTEL_ADDRESS_CONFIRMED-->
  <div class="d-flex flex-column"
       *ngIf="(registerFacade.inquiryRegister$|async).registerStatus === RegisterStatus.HOTEL_ADDRESS_CONFIRMED">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="4" class="mb-3"></app-register-stepper>

    <div class="d-flex align-items-start mb-4">
      <app-svg-icon svg="info" width="16" height="16" class="ms-2"></app-svg-icon>
      <span class="text-natural-800 font-sm-regular"
            [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_1'|translate"></span>
    </div>
    <span class="p-3 font-sm-regular text-natural-800 background-natural-100 br-8"
          [translate]="'COMPONENTS.DIALOG.PERSONAL_INFO_SUCCESS.TEXT_2'|translate"></span>
  </div>

</div>


