<div class="row-container">
  <span class="font-sm-medium text-natural-800 d-block mb-3" [translate]="'SERVICE.TEXT_1'|translate"></span>
  <div class="custom-card d-flex flex-row justify-content-between">
    <div class="d-flex flex flex-column align-items-center">
      <span class="text-natural-800 font-sm-medium mb-2">{{120|number}}</span>
      <span class="font-sm-regular text-natural-800 d-block" [translate]="'SERVICE.TEXT_2'|translate"></span>
    </div>
    <div class="d-flex flex flex-column align-items-center">
      <span class="text-natural-800 font-sm-medium mb-2">{{120|number}}</span>
      <span class="font-sm-regular text-natural-800 d-block" [translate]="'SERVICE.TEXT_3'|translate"></span>
    </div>
    <div class="d-flex flex flex-column align-items-center">
      <span class="text-natural-800 font-sm-medium mb-2">{{120|number}}</span>
      <span class="font-sm-regular text-natural-800 d-block" [translate]="'SERVICE.TEXT_4'|translate"></span>
    </div>
  </div>
  <span class="font-sm-medium text-natural-800 d-block mb-3" [translate]="'SERVICE.TEXT_5'|translate"></span>
  <div class="custom-card">
    <div class="d-flex flex-column">
      <span class="text-natural-800 font-sm-medium mb-2" [translate]="'SERVICE.TEXT_6'|translate"></span>
      <span class="text-natural-400 font-sm-regular" [translate]="'SERVICE.TEXT_6_SUB'|translate"></span>
    </div>
    <hr/>
    <div class="d-flex flex-column">
      <span class="text-natural-800 font-sm-medium mb-2" [translate]="'SERVICE.TEXT_7'|translate"></span>
      <span class="text-natural-400 font-sm-regular" [translate]="'SERVICE.TEXT_7_SUB'|translate"></span>
    </div>
    <hr/>
    <div class="d-flex flex-column">
      <span class="text-natural-800 font-sm-medium mb-2" [translate]="'SERVICE.TEXT_8'|translate"></span>
      <span class="text-natural-400 font-sm-regular" [translate]="'SERVICE.TEXT_8_SUB'|translate"></span>
    </div>
    <hr/>
    <div class="d-flex flex-column">
      <span class="text-natural-800 font-sm-medium mb-2" [translate]="'SERVICE.TEXT_9'|translate"></span>
      <span class="text-natural-400 font-sm-regular" [translate]="'SERVICE.TEXT_9_SUB'|translate"></span>
    </div>
    <hr/>
    <div class="d-flex flex-column">
      <span class="text-natural-800 font-sm-medium mb-2" [translate]="'SERVICE.TEXT_10'|translate"></span>
      <span class="text-natural-400 font-sm-regular" [translate]="'SERVICE.TEXT_10_SUB'|translate"></span>
    </div>
    <hr/>
    <span class="text-natural-800 font-sm-medium " [translate]="'SERVICE.TEXT_11'|translate"></span>
  </div>
</div>

<app-action-bar
  [showDivider]="true"
  [confirmLabel]="'SERVICE.ACTION_LABEL'|translate"
  routerLink="/terms-and-conditions"
></app-action-bar>
