<div class="wrapper" [ngClass]="[bgColor ? bgColor :'background-white']">
  <app-svg-icon class="row-container" svg="close" (click)="handleCloseDialog()"></app-svg-icon>
  <div class="content" [class.row-container]="hasPadding">
    <ng-content></ng-content>
  </div>
  <div class="position-sticky bottom-0 w-100">
    <ng-content select="[action]"></ng-content>
  </div>
</div>

<app-action-bar
  *ngIf="showActionBar"
  position="sticky"
  [disabled]="disabled"
  [confirmLabel]="confirmLabel"
  [fullWidth]="fullWidth"
  [showCancel]="showCancelBtn"
  [cancelLabel]="cancelLabel"
  (confirm)="confirm.emit()"
  (cancel)="cancel.emit()"
></app-action-bar>




