<app-dialog>

  <div class="d-flex flex-column">

    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.REGISTER_SUCCESS.TITLE'|translate"
    ></app-action-success>

    <app-register-stepper [currentStep]="4" class="mb-3"></app-register-stepper>

    <span
      class="text-natural-800 font-sm-regular mb-4"
      [translate]="'COMPONENTS.DIALOG.REGISTER_SUCCESS.TEXT_1'|translate"
    ></span>

    <div class="d-flex align-items-start">
      <app-svg-icon svg="info" width="16" height="16" class="ms-2"></app-svg-icon>
      <span
        class="text-natural-800 font-sm-regular w-100"
        [translate]="'COMPONENTS.DIALOG.REGISTER_SUCCESS.TEXT_2'|translate"
      ></span>
    </div>

  </div>

</app-dialog>
