<!--<div class="row-container d-flex flex-column align-items-center justify-content-center">-->
<!--  <img src="assets/images/bro.png"/>-->
<!--  <div class="row-container d-flex flex-column font-xs-medium card-info br-8">-->
<!--    <span class="mb-3" [translate]="'HOME.TEXT_1'"></span>-->
<!--    <span [translate]="'HOME.TEXT_2'"></span>-->
<!--  </div>-->
<!--</div>-->

<!--<app-action-bar-->
<!--  [showDivider]="true"-->
<!--  (confirm)="router.navigate(['/choose-service'])"-->
<!--  [confirmLabel]="'HOME.ACTION_LABEL'|translate">-->
<!--</app-action-bar>-->
<button (click)="handleClick()">go to vee</button>
