<div class="row-container d-flex flex-column">
  <span class="font-sm-medium text-natural-800 mb-2" [translate]="'GIFT_CARDS.TITLE'|translate"></span>
  <span class="font-xs-regular text-natural-800 mb-3" [translate]="'GIFT_CARDS.SUB_TITLE'|translate"></span>
  <app-loading-container [condition]="loading">
    <ng-container *ngFor="let cardType of cardTypeFacade.cardTypes$| async">
      <app-card [cardType]="cardType" [routerLink]="['/gift-card/', cardType.id]"></app-card>
    </ng-container>
  </app-loading-container>
</div>
