@import "src/scss/variabels";

:host ::ng-deep {
  .otp-input {
    width: 38px !important;
    font-size: 18px;
    height: 38px !important;
    border-radius: 15px !important;
    &.otp-valid{
      border: 0.15rem solid $primary !important
    }
    &.otp-invalid{
      border: 0.15rem solid $natural-300 !important;
    }
    &:not(:last-child) {
      margin-right: 16px !important;
    }
    &:focus-visible {
      outline: unset;
      //border: 1px solid $primary !important;
      //background-color: white;
    }

    //
    //&.otp-input.ng-dirty {
    //  border: 1px solid $primary !important;
    //  background-color: white
    //}
  }

}
