<div style="height: 80px">
  <div class="wrapper" (click)="input.focus()"
       [ngClass]="[control.invalid && (control.dirty || control.touched) ? 'error' :'default']">
    <input class="text-natural-800 font-md-medium"
           convertNumberToEnglish
           #input
           mask="0000 - 0000 - 0000 - 0000"
           autocomplete="off"
           [disabled]="disabled"
           type="text"
           [placeholder]="label"
           dir="ltr"
           (input)="onChanged($event)"
           (blur)="touched()"
           [(ngModel)]="value"
           inputmode="numeric"
    >
    <span class="text-2 font-sm-regular">{{label}}</span>
  </div>
  <div style="height: 12px">
    <app-field-errors [formField]="control"></app-field-errors>
  </div>
</div>
