<app-dialog
  [showActionBar]="true"
  [confirmLabel]="'COMPONENTS.DIALOG.PAYMENT_SUCCESS.ACTION_LABEL'|translate"
  (confirm)="router.navigate(['/'])"
>
  <div class="d-flex flex-column">
    <app-action-success
      class="mb-4"
      [title]="'COMPONENTS.DIALOG.PAYMENT_SUCCESS.TITLE'|translate">
    </app-action-success>

    <app-register-stepper [currentStep]="3" class="mb-3"></app-register-stepper>

    <div class="d-flex align-items-start mb-4">
      <app-svg-icon svg="info" width="16" height="16" class="ms-2"></app-svg-icon>
      <span class="text-natural-800 font-sm-regular"
            [translate]="'COMPONENTS.DIALOG.PAYMENT_SUCCESS.TEXT_1'|translate"></span>
    </div>
    <span class="p-3 font-sm-regular text-natural-800 background-natural-100 br-8"
          [translate]="'COMPONENTS.DIALOG.PAYMENT_SUCCESS.TEXT_2'|translate"></span>
  </div>

</app-dialog>
