<app-dialog [hasPadding]="false" bgColor="background-natural-100">
1
  <div class="d-flex flex-column justify-content-center p-5">

    <div class="d-flex flex-column justify-content-between mb-4 position-relative" style="height: 200px;">
      <div class="d-flex justify-content-between align-items-center">
        <app-svg-icon width="32" height="37" svg="vector_1"></app-svg-icon>
        <app-svg-icon width="32" height="37" svg="vector_2"></app-svg-icon>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <app-svg-icon width="32" height="37" svg="vector_3"></app-svg-icon>
        <app-svg-icon width="32" height="37" svg="vector_4"></app-svg-icon>
      </div>
      <img [src]="imageSrc" width="100%" height="100%" class="position-absolute p-4 br-4"/>
    </div>

    <div class="d-flex align-items-center justify-content-center" (click)="file.click()">
      <app-svg-icon class="ms-1"></app-svg-icon>
      <span class="text-primary font-sm-medium" [translate]="'COMPONENTS.DIALOG.UPLOAD_DOCUMENT.TEXT_1'|translate"></span>
      <input #file type="file" accept="image/*" class="d-none" (change)="handleChangeFile($event)" />
    </div>

  </div>

  <div class="custom_layout position-fixed bottom-0 w-100 d-flex flex-column align-items-center justify-content-center">
    <span class="text-natural-800 font-sm-medium text-center mb-4"
          [translate]="'COMPONENTS.DIALOG.UPLOAD_DOCUMENT.TEXT_2'|translate"></span>
    <app-svg-icon svg="camera" width="55" height="54" (click)="camera.click()"></app-svg-icon>
    <input #camera (change)="handleChangeFile($event)" type="file" accept="image/*" capture="environment" class="d-none"/>
  </div>

</app-dialog>
