<span class="font-sm-regular text-natural-800 mb-3 d-block" [translate]="'HOTEL_ADDRESS.TITLE'"></span>
<form [formGroup]="DestinationAddress">
  <app-textarea
    [placeholder]="'HOTEL_ADDRESS.INPUT_1'|translate"
    formControlName="destinationAddress"
  ></app-textarea>
  <app-date-picker
    [label]="'HOTEL_ADDRESS.INPUT_2'|translate"
    formControlName="time"
  ></app-date-picker>
  <div class="row gx-4">
    <div class="col-6">
      <app-time-picker
        formControlName="fromTime"
        [label]="'HOTEL_ADDRESS.INPUT_3'|translate"
      ></app-time-picker>
    </div>
    <div class="col-6">
      <app-time-picker
        formControlName="toTime"
        [label]="'HOTEL_ADDRESS.INPUT_4'|translate"
      ></app-time-picker>
    </div>
  </div>
</form>

<app-action-bar
  [disabled]="DestinationAddress.invalid"
  [confirmLabel]="'HOTEL_ADDRESS.ACTION_LABEL'|translate"
  (confirm)="handleConfirm()"
></app-action-bar>
