<span class="font-sm-regular text-natural-800 mb-3" [translate]="'PAYMENT.TITLE'"></span>
<div class="custom-card">
  <span class="text-natural-800 font-sm-medium mb-3" [translate]="'PAYMENT.TEXT_1'" [translateParams]="{value:(registerFacade.inquiryRegister$|async).cardType.titleFa}"></span>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <span class="text-natural-800 font-sm-regular" [translate]="'PAYMENT.TEXT_2'"></span>
    <span class="text-natural-800 font-sm-regular">{{dateService.today()|jalaliDate:'D MMMM YYYY'}}</span>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <span class="text-natural-800 font-sm-regular" [translate]="'PAYMENT.TEXT_3'"></span>
    <span class="text-success-lira font-sm-bold" currency currencyFont="font-sm-bold" currencyColor="text-success-lira">{{(registerFacade.inquiryRegister$|async).cardType.cost| number}}</span>
  </div>
</div>
<div class="custom-card">
  <span class="text-natural-800 font-sm-medium mb-3" [translate]="'PAYMENT.TEXT_4'"></span>
  <span class="text-natural-800 font-sm-regular">{{(registerFacade.inquiryRegister$|async).deliveryAddress}}</span>
</div>
<!--<span class="text-natural-800 font-sm-medium mb-3 d-block" [translate]="'PAYMENT.TEXT_5'"></span>-->

<!--<form [formGroup]="PaymentForm">-->
<!--  <div *ngFor="let item of methodsList;let i = index"-->
<!--       class="custom-card mb-3 d-flex flex-row justify-content-start align-items-center">-->
<!--    <div class="circle_checked_wrapper px-1 ms-2">-->
<!--      <input type="radio" formControlName="paymentMethods" [value]="i+1" [id]="item"/>-->
<!--      <label [for]="item"></label>-->
<!--    </div>-->
<!--    <span class="text-natural-800 font-sm-regular" (click)="paymentMethodsCtrl.setValue(i+1)">{{item|translate}}</span>-->
<!--  </div>-->
<!--</form>-->

<app-action-bar
  [confirmLabel]="'PAYMENT.ACTION_LABEL'|translate"
  (confirm)="handleConfirm()"
></app-action-bar>
