<div style="height: 80px">
  <div class="wrapper d-flex justify-content-between align-items-baseline" (click)="handleShowItems()"
       [ngClass]="[control.invalid && (control.dirty || control.touched) ? 'error' :'default']">
    <input
      class="text-natural-800 font-md-medium"
      readonly
      [placeholder]="label"
      [(ngModel)]="value"
      (blur)="touched()"
    >
    <span class="font-sm-regular">{{label}}</span>
    <app-svg-icon *ngIf="clearable && value" svg="close" (click)="handleClear($event)"></app-svg-icon>
    <div class="triangle me-1"></div>
  </div>
  <div style="height: 12px">
    <app-field-errors [formField]="control"></app-field-errors>
  </div>
</div>
