<div style="height: 80px">
  <div class="wrapper" (click)="picker.open()"
       [ngClass]="[control.invalid && (control.dirty || control.touched) ? 'error' :'default']">
    <input class="text-natural-800 font-md-medium"
           type="text"
           [placeholder]="label"
           readonly
           [matDatepicker]="picker"
           (dateChange)="onChanged($event)"
           (blur)="touched()"
           [(ngModel)]="startDate">
    <span class="font-sm-regular">{{label}}</span>
    <mat-datepicker #picker [startView]="startView" touchUi></mat-datepicker>
  </div>
  <div style="height: 15px">
    <app-field-errors [formField]="control"></app-field-errors>
  </div>
</div>

