<span class="font-sm-medium text-natural-800 mb-3 d-block" [translate]="'PERSONAL_INFO.TITLE'|translate"></span>
<form [formGroup]="PersonalInfoForm">
  <app-text-input [label]="'PERSONAL_INFO.INPUT_1'|translate" formControlName="englishFirstName" dir="ltr"></app-text-input>
  <app-text-input [label]="'PERSONAL_INFO.INPUT_2'|translate" formControlName="englishLastName" dir="ltr"></app-text-input>
  <app-text-input [label]="'PERSONAL_INFO.INPUT_3'|translate" formControlName="email"></app-text-input>
  <app-select [label]="'PERSONAL_INFO.INPUT_4'|translate" [options]="options" [clearable]="true" formControlName="amount"></app-select>
</form>

<app-action-bar
  [disabled]="PersonalInfoForm.invalid"
  [confirmLabel]="'PERSONAL_INFO.ACTION_LABEL'|translate"
  (confirm)="handleConfirm()"
></app-action-bar>
