$primary: #0091EA;
$success: #16A34A;
$error: #DC2626;
$natural-50:#F9FAFA;
$natural-100:#F4F4F6;
$natural-200:#E6E7EA;
$natural-300:#D2D5DA;
$natural-400:#9DA3AF;
$natural-500:#6A7181;
$natural-600:#4E545F;
$natural-700:#3E434C;
$natural-800:#272A30;

